<html>
  <head>
    <title>Create Campaign - Inspior Media</title>
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/yeti/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/datepicker.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js
    "></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <!-- Wrap all page content here -->
    <div id="wrap">

    <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Inspior Media</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/admin/reports">Home (X)</a></li>
              <li class="dropdown active">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Campaigns<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/admin/all_campaigns">All Campaigns</a></li>
                  <li class="active"><a href="/admin/Create_Campaign">Create Campaign</a></li>
                  <li><a href="/admin/details">Details (X)</a></li>
                  <li><a href="/admin/approve_offers">Approve Offers</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Affiliates<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/admin/affiliates">All Affiliates</a></li>
                  <li><a href="/admin/approve">Approve Affiliates</a></li>
                </ul>
              </li>
              <li><a href="/admin/approve_ad">Approve Advertisers</a></li>
              <li><a href="/admin/reports">Reports (X)</a></li>
              <li><a href="/admin/fraud">Fraud (X)</a></li>
              <li><a href="/admin/about">About (X)</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
            </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
        
        <!-- Begin page content -->
        <div class="container">
          <div class="page-header" >
            <h2>Create a New Campaign</h2>
          </div>
          <form  method='post' action='/admin/Create_Campaign' enctype="multipart/form-data">
        
          <div class="content">
            
            <div class="firstArea panel panel-default">
              <div class="row">
                <div class="col-xs-4 padding"><h4>1. Select Campaign Type</h4></div>
              </div>
              <div class="row">
                <div class="col-xs-4 padding">
                  
                  <div class="checkbox">
                    <input type="hidden" name="CostPerLead" value="">
                    <label><input type="checkbox" name="CostPerLead" value="Y">Cost Per Lead</label>
                  </div>
                  <div class="checkbox">
                    <input type="hidden" name="CostPerClick" value="">
                    <label><input type="checkbox" name="CostPerClick" value="Y">Cost Per Click</label>
                  </div>
                    <div class="checkbox">
                    <label>
                      <input type="hidden" name="CostPerSale" value="">
                      <input type="checkbox" value="Y" name="CostPerSale" id="CostPerSale">Cost Per Sale</label>
                    </div>
                  <div class="checkbox" style="display: none;">
                    <input type="hidden" name="CostPerTI" value="" >
                    <label><input type="checkbox" name="CostPerTI" value="Y">Cost Per Thousand Impressions (Not Added)</label>
                  </div>
                </div>
              </div>

              <div class="row" style="display:none">
                <div class="col-xs-4">
                  <div class="checkbox">
                    <label>
                      <input type="hidden" name="CostPerSale" value="">
                      <input type="checkbox" value="Y" name="CostPerSale" id="CostPerSale">Cost Per Sale</label>
                    </div>
                  </div>
                  <div class="col-xs-8" style="display: none;">
                    <div class="checkbox">
                      <input type="hidden" name="monthlyRecurringPayment" id="mrp" value="">
                      <label><input type="checkbox" name="monthlyRecurringPayment" id="monthlyRecurringPayment" value="Y" disabled="true">Recurring Monthly Payout (subscription) MUST BE COST PER SALE (Not Added)</label>
                    </div>
                  </div>
                </div>
                <div class="row" style="display: none;">
                  <div class="col-xs-4 padding">
                    <div class="checkbox">
                      <div class="checkbox">
                        <input type="hidden" name="ProductSpecific" value="">
                        <label><input type="checkbox" value="Y" name="ProductSpecific">Product Specific (Not Added)</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" style="display: none;">
                  <div class="col-xs-4">
                    <div class="checkbox">
                      <label>
                        <input type="hidden" name="Popup" value="">
                        <input type="checkbox" value="Y" name="Popup">Popup/Popunder Program (Not Added)</label>
                      </div>
                    </div>
                    <div class="col-xs-8" style="display: none;">
                      <div class="checkbox">
                        <input type="number" name="popUnderUpValue" class="form-control"style="display:inline;width:20%">Pop(under/up) Expiration Time (Hours) (Not Added)
                      </div>
                    </div>
                  </div>
                  <div class="row" style="display: none;">
                    <div class="col-xs-4">
                      Share Campaign Performance (Not Added)
                    </div>
                    <div class="col-xs-8">
                      <div class="radio" style="display:inline">
                        <input type="hidden" name="SCP" value=""></label>
                        <label><input type="radio" name="SCP" value="Y">Yes</label>
                      </div>
                      <div class="radio" style="display:inline">
                        <label><input type="radio" name="SCP" value="">No</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="firstArea panel panel-default">
                  <div class="row">
                    <div class="col-xs-4 padding">
                      <h4>2. Basic Campaign Information</h4>
                    </div>
                    <div class="col-xs-8 padding">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-4 padding">Name:
                    </div>
                    <div class="col-xs-8 padding">
                      <input type="text" class="form-control" name="newCampaignName" placeholder="Name of the campaign" required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-4 padding">Advertiser ID:
                    </div>
                    <div class="col-xs-8 padding">
                      <input type="text" class="form-control" name="add_id" placeholder="Name of the campaign" required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-4 padding">URL:
                    </div>
                    <div class="col-xs-8 padding">
                      <input type="text" class="form-control" name="campaignUrl" placeholder="URL of the campaign" required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-4 padding">Long Description:
                    </div>
                    <div class="col-xs-8 padding">
                      
                      <textarea name = "longD" class="form-control" cols="50" placeholder="Long Description: Will be displayed when viewing the campaign details via the affiliate interface."></textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-4 padding">Short Description:
                    </div>
                    <div class="col-xs-8 padding">
                      <textarea name = "shortD" class="form-control" cols="50" placeholder="Short Description: Will be displayed in the campaign listing table in the affiliate interface."></textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-4 padding">Start Date:
                    </div>
                    <div class="col-xs-8 padding" name="payout">
                      <input type="text" placeholder="" name="start_date" class="datepicker form-control">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-4 padding">End Date:
                    </div>
                    <div class="col-xs-8 padding" name="payout">
                      <input  type="text" placeholder="" name="end_data" class="datepicker form-control">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-4 padding">Campaign Image (max: 12):
                    </div>

                    <div class="col-xs-8 padding" name="payout">Please select all the files at once to upload

                       
                          
                          <input type='file' name='fileUploaded' id='file' multiple>
                          <div id="selectedFiles"></div>

                          <!--
                   <div class="dropzone btn btn-default btn-md btn-block" role="button" id="uploadBanners" placeholder="Upload"></div>
                    <form action='/image' method="post" class="my-awesome-dropzone btn btn-default btn-md btn-block dropzone" enctype="multipart/form-data">
                    <div class="dropzone-previews"></div> this is were the previews should be shown. 
                    -->


                    
          


                  </div>
                </div>
              </div>
              <div class="firstArea panel panel-default">
                <div class="row">
                  <div class="col-xs-4 padding">
                    <h4>3. Campaign Limits</h4>
                  </div>
                  <div class="col-xs-8 padding">
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-4 padding">Clicks Offered to Affiliates:
                  </div>
                  <div class="col-xs-8 padding">
                    <input type="text" class="form-control"  name="offeredClicks">
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-4 padding">Leads Offered to Affiliates:
                  </div>
                  <div class="col-xs-8 padding">
                    <input type="text" class="form-control" name="offeredLeads">
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-4 padding">Gross Sales Offered to Affiliates:
                  </div>
                  <div class="col-xs-8 padding">
                    <input type="text" class="form-control" name="offeredSales">
                  </div>
                </div>
                <div class="row" style="display: none;">
                  <div class="col-xs-4 padding">Impressions Offered to Affiliates (Not Added):
                  </div>
                  <div class="col-xs-8 padding">
                    <input type="text" class="form-control" name="offeredImpressions">
                  </div>
                </div>
                <div class="row" style="display: none;">
                  <div class="col-xs-4 padding">Co-Registrations Offered to Affiliates (Not Added):
                  </div>
                  <div class="col-xs-8 padding">
                    <input type="text" class="form-control" name="offeredCoRegistrations">
                  </div>
                </div>
              </div>
              <div class="firstArea panel panel-default">
                <div class="row">
                  <div class="col-xs-4 padding">
                    <h4>4. Affiliate Payout</h4>
                  </div>
                  <div class="col-xs-8 padding">
                  </div>
                </div>
                 <div class="row">
                  <div class="col-xs-4 padding">Total Payout Per Affiliate:
                  </div>
                  <div class="col-xs-8 padding">
                    <input type="text" class="form-control"  name="payoutperaffiliate">
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-4 padding">Per Click Affiliate Payout:
                  </div>
                  <div class="col-xs-8 padding">
                    <input type="text" class="form-control"  name="affiliatePerClick">
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-4 padding">Per Lead Affiliate Payout:
                  </div>
                  <div class="col-xs-8 padding">
                    <input type="text" class="form-control" name="affiliateLeadPerClick">
                  </div>
                </div>
                <div class="row" style="display: none;">
                  <div class="col-xs-4 padding">Per 1000 Impression Affiliate Payout (Not Added):
                  </div>
                  <div class="col-xs-8 padding">
                    <input type="text" class="form-control" name="affiliateImpressionPerClick">
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-4 padding">% Per Sale Affiliate Payout:
                  </div>
                  <div class="col-xs-8 padding">
                    <input type="text" class="form-control" id="offeredImpressions" placeholder="Per Sale" name="affiliatePerSale">
                    <input type="hidden" class="form-control" name="affiliatePerSubSale" placeholder="Per Sub Sale">
                  </div>
                </div>
                <div class="row" style="display: none;">
                  <div class="col-xs-4 padding">Flat Per Sale Affiliate Payout (Not Added):
                  </div>
                  <div class="col-xs-8 padding">
                    <input type="text" class="form-control" id="offeredCoRegistrations" placeholder="Per Sale" name="affiliateFlatPerSale">
                    <input type="text" class="form-control" id="offeredCoRegistrations" placeholder="Per Sub Sale" name="affiliateFlatPerSubSale">
                  </div>
                </div>
                <div class="row" style="display: none;">
                  <div class="col-xs-4 padding">Network Run (Not Added)
                  </div>
                  <div class="col-xs-8 padding">
                    <div class="radio">
                      <label><input type="radio" name="run" value="CS" checked>Category-Specific</label>
                    </div>
                    <div class="radio">
                      <label><input type="radio" name="run" value="EN">Entire Network</label>
                    </div>
                    <div class="radio">
                      <label><input type="radio" name="run" value="S">Select</label>
                    </div>
                    <div class="radio">
                      <label><input type="radio" name="run" value="P">Private</label>
                    </div>
                  </div>
                </div>
              </div>
            
            <div class="firstArea panel panel-default">
              <div class="row">
                <div class="col-xs-4 padding">
                  <h4>5. Campaign Categories</h4>
                </div>
                <div class="col-xs-8 padding">
                </div>
              </div>
              <div class="row">
                <div class="col-xs-4 padding">Category 1:
                </div>
                <div class="col-xs-8 padding">
                  <div class="form-group">
                    <select class="form-control" name="sel1">
                      <option selected="selected">Select a Category</option>
                      <option>Arts & Entertainment</option>
                      <option>Autos & Vehicles</option>
                      <option>Beauty & Fitness</option>
                      <option>Books & Literature</option>
                      <option>Business & Industrial</option>
                      <option>Computers & Electronics</option>
                      <option>Finance</option>
                      <option>Food & Drink</option>
                      <option>Games</option>
                      <option>Health</option>
                      <option>Hobbies & Leisure</option>
                      <option>Home & Garden</option>
                      <option>Internet & Telecom</option>
                      <option>Jobs & Education</option>
                      <option>Law & Government</option>
                      <option>News</option>
                      <option>Online Communities</option>
                      <option>People & Society</option>
                      <option>Pets & Animals</option>
                      <option>Real Estate</option>
                      <option>Reference</option>
                      <option>Science</option>
                      <option>Shopping</option>
                      <option>Sports</option>
                      <option>Travel</option>
                      <option>World Localities</option>
                      <option>Other</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-4 padding">Category 2:
                </div>
                <div class="col-xs-8 padding">
                  <div class="form-group">
                    <select class="form-control" name="sel2">
                      <option selected="selected">Select a Category</option>
                     <option>Arts & Entertainment</option>
                      <option>Autos & Vehicles</option>
                      <option>Beauty & Fitness</option>
                      <option>Books & Literature</option>
                      <option>Business & Industrial</option>
                      <option>Computers & Electronics</option>
                      <option>Finance</option>
                      <option>Food & Drink</option>
                      <option>Games</option>
                      <option>Health</option>
                      <option>Hobbies & Leisure</option>
                      <option>Home & Garden</option>
                      <option>Internet & Telecom</option>
                      <option>Jobs & Education</option>
                      <option>Law & Government</option>
                      <option>News</option>
                      <option>Online Communities</option>
                      <option>People & Society</option>
                      <option>Pets & Animals</option>
                      <option>Real Estate</option>
                      <option>Reference</option>
                      <option>Science</option>
                      <option>Shopping</option>
                      <option>Sports</option>
                      <option>Travel</option>
                      <option>World Localities</option>
                      <option>Other</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-4 padding">Category 3:
                </div>
                <div class="col-xs-8 padding">
                  <div class="form-group">
                    <select class="form-control" name="sel3">
                      <option selected="selected">Select a Category</option>
                       <option>Arts & Entertainment</option>
                      <option>Autos & Vehicles</option>
                      <option>Beauty & Fitness</option>
                      <option>Books & Literature</option>
                      <option>Business & Industrial</option>
                      <option>Computers & Electronics</option>
                      <option>Finance</option>
                      <option>Food & Drink</option>
                      <option>Games</option>
                      <option>Health</option>
                      <option>Hobbies & Leisure</option>
                      <option>Home & Garden</option>
                      <option>Internet & Telecom</option>
                      <option>Jobs & Education</option>
                      <option>Law & Government</option>
                      <option>News</option>
                      <option>Online Communities</option>
                      <option>People & Society</option>
                      <option>Pets & Animals</option>
                      <option>Real Estate</option>
                      <option>Reference</option>
                      <option>Science</option>
                      <option>Shopping</option>
                      <option>Sports</option>
                      <option>Travel</option>
                      <option>World Localities</option>
                      <option>Other</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="firstArea panel panel-default">
              <div class="row">
                <div class="col-xs-4 padding">
                  <h4>6. Notification Options</h4>
                </div>
                <div class="col-xs-8 padding">
                </div>
              </div>
              <div class="row">
                <div class="col-xs-4 padding">
                  Notification Type:
                </div>
                <div class="col-xs-8 padding">
                  <div class="checkbox" style="display:inline">
                    <input type="hidden" name="NDate" value="">
                    <label><input type="checkbox" name="NDate" value="Y">Date</label>
                  </div>
                  <div class="checkbox" style="display:inline">
                    <input type="hidden" name="NClicks" value="">
                    <label><input type="checkbox" name="NClicks" value="Y">Clicks</label>
                  </div>
                  <div class="checkbox" style="display:inline">
                    <input type="hidden" name="NLeads" value="">
                    <label><input type="checkbox" name="NLeads" value="Y">Leads</label>
                  </div>
                  <div class="checkbox" style="display:inline">
                    <input type="hidden" name="NSales" value="">
                    <label><input type="checkbox" name="NSales" value="Y">Sales</label>
                  </div>
                  <div class="checkbox" style="display:inline">
                    <input type="hidden" name="NImpression" value="">
                    <label><input type="checkbox" name="NImpression" value="Y">Impression</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-4 padding">Notification Date:
                </div>
                <div class="col-xs-8 padding" name="payout">
                  <input type="text" placeholder="" name="NotifDate" class="datepicker form-control">
                </div>
              </div>
              <div class="row">
                <div class="col-xs-4 padding">Clicks Level:
                </div>
                <div class="col-xs-8 padding">
                  <input type="text" class="form-control"  name="clicks_level">
                </div>
              </div>
              <div class="row">
                <div class="col-xs-4 padding">Leads Level:
                </div>
                <div class="col-xs-8 padding">
                  <input type="text" class="form-control" name="leads_level">
                </div>
              </div>
              <div class="row">
                <div class="col-xs-4 padding">Sales Level (Total gross sales):
                </div>
                <div class="col-xs-8 padding">
                  <input type="text" class="form-control" name="sales_level">
                </div>
              </div>
              <div class="row">
                <div class="col-xs-4 padding">Impressions Level:
                </div>
                <div class="col-xs-8 padding">
                  <input type="text" class="form-control" name="impressions_level">
                </div>
              </div>
              <div class="row">
                <div class="col-xs-4 padding">Threshold Email:
                </div>
                <div class="col-xs-8 padding">
                  <input type="text" class="form-control" name="threshols_email">
                </div>
              </div>
            </div>
            <div class="firstArea panel panel-default">
              <div class="row">
                <div class="col-xs-4 padding">
                  <h4>7. Lead Campaign Tracking Method</h4>
                </div>
                <div class="col-xs-8 padding">
                </div>
              </div>
              <div class="row">
                <div class="col-xs-4 padding">
                </div>
                <div class="col-xs-8 padding">
                  <div class="radio" style="display:inline">
                    <label><input type="radio" name="typeofTracking" value="pixel" checked>Pixel Tracking</label>
                  </div>
                  <div class="radio" style="display:inline">
                    <label><input type="radio" name="typeofTracking" value="host">Hosted</label>
                  </div>
                  <div class="radio" style="display:inline">
                    <label><input type="radio" name="typeofTracking" value="import">Imported</label>
                  </div>
                  
                  <input type="text" class="form-control" name="tracking_pixel" placeholder="Autogenerated if left blank">
                </div>
              </div>
            </div>
            <div class="firstArea panel panel-default" style="display: none;">
              <div class="row">
                <div class="col-xs-4 padding">
                  <h4>8. Geo-Tracking Information (Not Added)</h4>
                </div>
                <div class="col-xs-8 padding">
                </div>
              </div>
              <div class="row">
                <div class="col-xs-4 padding">
                </div>
                <div class="col-xs-8 padding">
                  
                  <div class="radio">
                    
                    <label><input type="radio" name="country" id="allCountriesButton" value="all" checked>All Countries</label>
                  </div>
                  <div class="radio">
                    <label><input type="radio" name="country" value="spe" id="specificCountriesButton">Specific Countries</label>
                  </div>
                  <input type="hidden" name="specountry" value="">
                  <select multiple class="form-control" id="countries" name="specountry" disabled>
                    <option selected value="">Select One</option>
                    <option value="Afganistan">Afghanistan</option>
                    <option value="Albania">Albania</option>
                    <option value="Algeria">Algeria</option>
                    <option value="American Samoa">American Samoa</option>
                    <option value="Andorra">Andorra</option>
                    <option value="Angola">Angola</option>
                    <option value="Anguilla">Anguilla</option>
                    <option value="Antigua &amp; Barbuda">Antigua &amp; Barbuda</option>
                    <option value="Argentina">Argentina</option>
                    <option value="Armenia">Armenia</option>
                    <option value="Aruba">Aruba</option>
                    <option value="Australia">Australia</option>
                    <option value="Austria">Austria</option>
                    <option value="Azerbaijan">Azerbaijan</option>
                    <option value="Bahamas">Bahamas</option>
                    <option value="Bahrain">Bahrain</option>
                    <option value="Bangladesh">Bangladesh</option>
                    <option value="Barbados">Barbados</option>
                    <option value="Belarus">Belarus</option>
                    <option value="Belgium">Belgium</option>
                    <option value="Belize">Belize</option>
                    <option value="Benin">Benin</option>
                    <option value="Bermuda">Bermuda</option>
                    <option value="Bhutan">Bhutan</option>
                    <option value="Bolivia">Bolivia</option>
                    <option value="Bonaire">Bonaire</option>
                    <option value="Bosnia &amp; Herzegovina">Bosnia &amp; Herzegovina</option>
                    <option value="Botswana">Botswana</option>
                    <option value="Brazil">Brazil</option>
                    <option value="British Indian Ocean Ter">British Indian Ocean Ter</option>
                    <option value="Brunei">Brunei</option>
                    <option value="Bulgaria">Bulgaria</option>
                    <option value="Burkina Faso">Burkina Faso</option>
                    <option value="Burundi">Burundi</option>
                    <option value="Cambodia">Cambodia</option>
                    <option value="Cameroon">Cameroon</option>
                    <option value="Canada">Canada</option>
                    <option value="Canary Islands">Canary Islands</option>
                    <option value="Cape Verde">Cape Verde</option>
                    <option value="Cayman Islands">Cayman Islands</option>
                    <option value="Central African Republic">Central African Republic</option>
                    <option value="Chad">Chad</option>
                    <option value="Channel Islands">Channel Islands</option>
                    <option value="Chile">Chile</option>
                    <option value="China">China</option>
                    <option value="Christmas Island">Christmas Island</option>
                    <option value="Cocos Island">Cocos Island</option>
                    <option value="Colombia">Colombia</option>
                    <option value="Comoros">Comoros</option>
                    <option value="Congo">Congo</option>
                    <option value="Cook Islands">Cook Islands</option>
                    <option value="Costa Rica">Costa Rica</option>
                    <option value="Cote DIvoire">Cote D'Ivoire</option>
                    <option value="Croatia">Croatia</option>
                    <option value="Cuba">Cuba</option>
                    <option value="Curaco">Curacao</option>
                    <option value="Cyprus">Cyprus</option>
                    <option value="Czech Republic">Czech Republic</option>
                    <option value="Denmark">Denmark</option>
                    <option value="Djibouti">Djibouti</option>
                    <option value="Dominica">Dominica</option>
                    <option value="Dominican Republic">Dominican Republic</option>
                    <option value="East Timor">East Timor</option>
                    <option value="Ecuador">Ecuador</option>
                    <option value="Egypt">Egypt</option>
                    <option value="El Salvador">El Salvador</option>
                    <option value="Equatorial Guinea">Equatorial Guinea</option>
                    <option value="Eritrea">Eritrea</option>
                    <option value="Estonia">Estonia</option>
                    <option value="Ethiopia">Ethiopia</option>
                    <option value="Falkland Islands">Falkland Islands</option>
                    <option value="Faroe Islands">Faroe Islands</option>
                    <option value="Fiji">Fiji</option>
                    <option value="Finland">Finland</option>
                    <option value="France">France</option>
                    <option value="French Guiana">French Guiana</option>
                    <option value="French Polynesia">French Polynesia</option>
                    <option value="French Southern Ter">French Southern Ter</option>
                    <option value="Gabon">Gabon</option>
                    <option value="Gambia">Gambia</option>
                    <option value="Georgia">Georgia</option>
                    <option value="Germany">Germany</option>
                    <option value="Ghana">Ghana</option>
                    <option value="Gibraltar">Gibraltar</option>
                    <option value="Great Britain">Great Britain</option>
                    <option value="Greece">Greece</option>
                    <option value="Greenland">Greenland</option>
                    <option value="Grenada">Grenada</option>
                    <option value="Guadeloupe">Guadeloupe</option>
                    <option value="Guam">Guam</option>
                    <option value="Guatemala">Guatemala</option>
                    <option value="Guinea">Guinea</option>
                    <option value="Guyana">Guyana</option>
                    <option value="Haiti">Haiti</option>
                    <option value="Hawaii">Hawaii</option>
                    <option value="Honduras">Honduras</option>
                    <option value="Hong Kong">Hong Kong</option>
                    <option value="Hungary">Hungary</option>
                    <option value="Iceland">Iceland</option>
                    <option value="India">India</option>
                    <option value="Indonesia">Indonesia</option>
                    <option value="Iran">Iran</option>
                    <option value="Iraq">Iraq</option>
                    <option value="Ireland">Ireland</option>
                    <option value="Isle of Man">Isle of Man</option>
                    <option value="Israel">Israel</option>
                    <option value="Italy">Italy</option>
                    <option value="Jamaica">Jamaica</option>
                    <option value="Japan">Japan</option>
                    <option value="Jordan">Jordan</option>
                    <option value="Kazakhstan">Kazakhstan</option>
                    <option value="Kenya">Kenya</option>
                    <option value="Kiribati">Kiribati</option>
                    <option value="Korea North">Korea North</option>
                    <option value="Korea Sout">Korea South</option>
                    <option value="Kuwait">Kuwait</option>
                    <option value="Kyrgyzstan">Kyrgyzstan</option>
                    <option value="Laos">Laos</option>
                    <option value="Latvia">Latvia</option>
                    <option value="Lebanon">Lebanon</option>
                    <option value="Lesotho">Lesotho</option>
                    <option value="Liberia">Liberia</option>
                    <option value="Libya">Libya</option>
                    <option value="Liechtenstein">Liechtenstein</option>
                    <option value="Lithuania">Lithuania</option>
                    <option value="Luxembourg">Luxembourg</option>
                    <option value="Macau">Macau</option>
                    <option value="Macedonia">Macedonia</option>
                    <option value="Madagascar">Madagascar</option>
                    <option value="Malaysia">Malaysia</option>
                    <option value="Malawi">Malawi</option>
                    <option value="Maldives">Maldives</option>
                    <option value="Mali">Mali</option>
                    <option value="Malta">Malta</option>
                    <option value="Marshall Islands">Marshall Islands</option>
                    <option value="Martinique">Martinique</option>
                    <option value="Mauritania">Mauritania</option>
                    <option value="Mauritius">Mauritius</option>
                    <option value="Mayotte">Mayotte</option>
                    <option value="Mexico">Mexico</option>
                    <option value="Midway Islands">Midway Islands</option>
                    <option value="Moldova">Moldova</option>
                    <option value="Monaco">Monaco</option>
                    <option value="Mongolia">Mongolia</option>
                    <option value="Montserrat">Montserrat</option>
                    <option value="Morocco">Morocco</option>
                    <option value="Mozambique">Mozambique</option>
                    <option value="Myanmar">Myanmar</option>
                    <option value="Nambia">Nambia</option>
                    <option value="Nauru">Nauru</option>
                    <option value="Nepal">Nepal</option>
                    <option value="Netherland Antilles">Netherland Antilles</option>
                    <option value="Netherlands">Netherlands (Holland, Europe)</option>
                    <option value="Nevis">Nevis</option>
                    <option value="New Caledonia">New Caledonia</option>
                    <option value="New Zealand">New Zealand</option>
                    <option value="Nicaragua">Nicaragua</option>
                    <option value="Niger">Niger</option>
                    <option value="Nigeria">Nigeria</option>
                    <option value="Niue">Niue</option>
                    <option value="Norfolk Island">Norfolk Island</option>
                    <option value="Norway">Norway</option>
                    <option value="Oman">Oman</option>
                    <option value="Pakistan">Pakistan</option>
                    <option value="Palau Island">Palau Island</option>
                    <option value="Palestine">Palestine</option>
                    <option value="Panama">Panama</option>
                    <option value="Papua New Guinea">Papua New Guinea</option>
                    <option value="Paraguay">Paraguay</option>
                    <option value="Peru">Peru</option>
                    <option value="Phillipines">Philippines</option>
                    <option value="Pitcairn Island">Pitcairn Island</option>
                    <option value="Poland">Poland</option>
                    <option value="Portugal">Portugal</option>
                    <option value="Puerto Rico">Puerto Rico</option>
                    <option value="Qatar">Qatar</option>
                    <option value="Republic of Montenegro">Republic of Montenegro</option>
                    <option value="Republic of Serbia">Republic of Serbia</option>
                    <option value="Reunion">Reunion</option>
                    <option value="Romania">Romania</option>
                    <option value="Russia">Russia</option>
                    <option value="Rwanda">Rwanda</option>
                    <option value="St Barthelemy">St Barthelemy</option>
                    <option value="St Eustatius">St Eustatius</option>
                    <option value="St Helena">St Helena</option>
                    <option value="St Kitts-Nevis">St Kitts-Nevis</option>
                    <option value="St Lucia">St Lucia</option>
                    <option value="St Maarten">St Maarten</option>
                    <option value="St Pierre &amp; Miquelon">St Pierre &amp; Miquelon</option>
                    <option value="St Vincent &amp; Grenadines">St Vincent &amp; Grenadines</option>
                    <option value="Saipan">Saipan</option>
                    <option value="Samoa">Samoa</option>
                    <option value="Samoa American">Samoa American</option>
                    <option value="San Marino">San Marino</option>
                    <option value="Sao Tome &amp; Principe">Sao Tome &amp; Principe</option>
                    <option value="Saudi Arabia">Saudi Arabia</option>
                    <option value="Senegal">Senegal</option>
                    <option value="Serbia">Serbia</option>
                    <option value="Seychelles">Seychelles</option>
                    <option value="Sierra Leone">Sierra Leone</option>
                    <option value="Singapore">Singapore</option>
                    <option value="Slovakia">Slovakia</option>
                    <option value="Slovenia">Slovenia</option>
                    <option value="Solomon Islands">Solomon Islands</option>
                    <option value="Somalia">Somalia</option>
                    <option value="South Africa">South Africa</option>
                    <option value="Spain">Spain</option>
                    <option value="Sri Lanka">Sri Lanka</option>
                    <option value="Sudan">Sudan</option>
                    <option value="Suriname">Suriname</option>
                    <option value="Swaziland">Swaziland</option>
                    <option value="Sweden">Sweden</option>
                    <option value="Switzerland">Switzerland</option>
                    <option value="Syria">Syria</option>
                    <option value="Tahiti">Tahiti</option>
                    <option value="Taiwan">Taiwan</option>
                    <option value="Tajikistan">Tajikistan</option>
                    <option value="Tanzania">Tanzania</option>
                    <option value="Thailand">Thailand</option>
                    <option value="Togo">Togo</option>
                    <option value="Tokelau">Tokelau</option>
                    <option value="Tonga">Tonga</option>
                    <option value="Trinidad &amp; Tobago">Trinidad &amp; Tobago</option>
                    <option value="Tunisia">Tunisia</option>
                    <option value="Turkey">Turkey</option>
                    <option value="Turkmenistan">Turkmenistan</option>
                    <option value="Turks &amp; Caicos Is">Turks &amp; Caicos Is</option>
                    <option value="Tuvalu">Tuvalu</option>
                    <option value="Uganda">Uganda</option>
                    <option value="Ukraine">Ukraine</option>
                    <option value="United Arab Erimates">United Arab Emirates</option>
                    <option value="United Kingdom">United Kingdom</option>
                    <option value="United States of America">United States of America</option>
                    <option value="Uraguay">Uruguay</option>
                    <option value="Uzbekistan">Uzbekistan</option>
                    <option value="Vanuatu">Vanuatu</option>
                    <option value="Vatican City State">Vatican City State</option>
                    <option value="Venezuela">Venezuela</option>
                    <option value="Vietnam">Vietnam</option>
                    <option value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>
                    <option value="Virgin Islands (USA)">Virgin Islands (USA)</option>
                    <option value="Wake Island">Wake Island</option>
                    <option value="Wallis &amp; Futana Is">Wallis &amp; Futana Is</option>
                    <option value="Yemen">Yemen</option>
                    <option value="Zaire">Zaire</option>
                    <option value="Zambia">Zambia</option>
                    <option value="Zimbabwe">Zimbabwe</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="firstArea panel panel-default">
              <div class="row">
                <div class="col-xs-4 padding">
                  <h4>9. Internal Information</h4>
                </div>
                <div class="col-xs-8 padding">
                </div>
              </div>

              <div class="row">

                <div class="col-xs-4 padding">Notes:
                </div>
                <div class="col-xs-8 padding">
                  <textarea class="form-control" name="note" cols="50" placeholder="Use this field to capture any campaign-specific information you may need to convey to other DT users."></textarea>
                </div>
              </div>
            </div>
            <div class="paddingTop">
              <div class="secondArea panel panel-default">
                <div class="row">
                  <div class="col-xs-4 padding"></div>
                  <div class="col-xs-8 centered padding">
                    
                    <INPUT TYPE="submit" style="width:50%" VALUE="Add New Campaign" class="btn btn-info btn-md btn-block">
                  </div>
                
            </div>
                
                </div>
              </div>
             </form>

          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
      <script>$(function () {
      $('#accordion').on('shown.bs.collapse', function (e) {
      var offset = $('.panel.panel-default > .panel-collapse.in').offset();
      if(offset) {
      $('html,body').animate({
      scrollTop: $('.panel-title a').offset().top -50
      }, 500);
      }
      });
      });</script>

      <script src="js/createCampaign.js"></script>
      <script src="js/dropzone.js"></script>
      <script src="js/bootstrap-datepicker.js"></script>
      <script>
      $('.navbar .dropdown').hover(function() {
      $(this).find('.dropdown-menu').first().stop(true, true).slideDown(150);
      }, function() {
      $(this).find('.dropdown-menu').first().stop(true, true).slideUp(105)
      });</script>
      <script type="text/javascript">
      // When the document is ready
      $(document).ready(function () {
      
      $('.datepicker').datepicker({
      format: "mm/dd/yyyy"
      });
      
      });
      </script>
    </body>
  </html>