<!doctype html>
<html>
  <head>
    <title>Affiliate Approval - Inspior Media</title>
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/yeti/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js
    "></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <!-- Wrap all page content here -->
    <div id="wrap">
     <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Inspior Media</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/admin/reports">Home (X)</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Campaigns<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/admin/all_campaigns">All Campaigns</a></li>
                  <li><a href="/admin/Create_Campaign">Create Campaign</a></li>
                  <li><a href="/admin/details">Details (X)</a></li>
                  <li><a href="/admin/approve_offers">Approve Offers</a></li>
                </ul>
              </li>
              <li class="dropdown active">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Affiliates<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/admin/affiliates">All Affiliates</a></li>
                  <li class="active"><a href="/admin/approve">Approve Affiliates</a></li>
                </ul>
              </li>
              <li><a href="/admin/approve_ad">Approve Advertisers</a></li>
              <li><a href="/admin/reports">Reports (X)</a></li>
              <li><a href="/admin/fraud">Fraud (X)</a></li>
              <li><a href="/admin/about">About (X)</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
            </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
        
        <!-- Begin page content -->
        <div class="container">
          <div class="page-header">
            <h2>Affiliates' Applications</h2>
          </div>
          <div class="content" id="app-content">
            
              <!-- No.2-->
              
            </div>
          </div>
        </div>
     
    <script>$(function () {
    $('#accordion').on('shown.bs.collapse', function (e) {
    var offset = $('.panel.panel-default > .panel-collapse.in').offset();
    if(offset) {
    $('html,body').animate({
    scrollTop: $('.panel-title a').offset().top -50
    }, 500);
    }
    });
    });</script>
    
    <script>
    $('.navbar .dropdown').hover(function() {
    $(this).find('.dropdown-menu').first().stop(true, true).slideDown(150);
    }, function() {
    $(this).find('.dropdown-menu').first().stop(true, true).slideUp(105)
    });</script> 
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/approval.js"></script>
  </body>
</html>